@font-face {
  font-family: "ChenYuluoyan";
  src: url("/src/assets/font/ChenYuluoyan.ttf") format("truetype");
}

@font-face {
  font-family: "GenWanMin-L";
  src: url("/src/assets/font/GenWanMin-L.ttf") format("truetype");
}

/* body {
  font-family: "ChenYuluoyan";
} */